header {
    background-color: #00509E;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #89CFF0;
}

nav {
    background-color: #89CFF0; /* Light blue navigation */
    padding: 10px 0;
    text-align: center;
    text-decoration:solid;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    letter-spacing: 3px;
}

nav :hover {
    background-color: #db04ef;;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

section {
    padding: 20px;
    background: #fff;
    margin: 20px 0;
}

section h2 {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}