header {
    font-family: "Teko", serif;
    font-size: 30px;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

body {
    background-image: url("../BTD\ Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Teko", sans-serif;
    font-size: 25px;
    color: #fff;
    margin: 0;
    padding: 0;
}

nav {
    /* background-color: #89CFF0; Light blue navigation */
    padding: 10px 0;
    text-align: center;
    text-decoration:solid;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    font-family: "Teko", serif;
    font-size: 30px;
    text-align: center;
    text-decoration:solid;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    letter-spacing: 3px;
    
}

nav :hover {
    background-color: #db04ef;;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

section {
    padding: 20px;
    /* background: #fff; */
    margin: 20px 0;
    border-radius: 5px;
}

section h2 {
    color: #89CFF0;
    font-size: 2em;
    text-align: center;
    margin: 0;
}

footer {
    color: #fff;
    text-align: center;
    padding: 5px 0;
    bottom: 0;
    width: 100%;
}