/* Header Styles */
header {
    background-color: #00509E;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Logo Styles */
.logo {
    max-width: 400px;
    height: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #89CFF0;
    color: #333;
}


header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Navigation Styles */
nav {
    background-color: #444;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #555;
}

/* Main Content Styles */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

section p {
    line-height: 1.6;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
/* Portfolio Item Styles */
.portfolio-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.portfolio-item img {
    max-width: 100%;
    border-radius: 5px;
}

.portfolio-item h3 {
    font-size: 1.5em;
    margin-top: 0;
}

.portfolio-item p {
    line-height: 1.6;
}

.portfolio-item a {
    display: inline-block;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    border: 1px solid #333;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.portfolio-item a:hover {
    background-color: #333;
    color: #fff;
}